<config version="1">
    <chain template="file-system"/>
    <provider id="file-system" type="file-system">
        <baseDataDir>{{artifactory_data_dir}}/artifactory</baseDataDir>
        <fileStoreDir>filestore</fileStoreDir>
        <tempDir>tmp</tempDir>
    </provider>
</config>
